/***** STANDARD. *****/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/***** VARIABLES. *****/
:root {
  /* A common readability setting */
  --line-height-for-readability: 150%;
}

html {
  font-family: "Lato", sans-serif;
}

body {
  margin-top: 20px;
}

/***** NAVBAR. *****/
.my-nav-link-inactive {
  text-decoration: none;
}

.my-nav-link-inactive:hover {
  text-decoration: underline;
}

/* Need to use !important to override w3css colors */
.my-nav-link-active {
  color: white!important;
  text-decoration: none;
}

/***** The HOME PAGE styling. *****/
.my-home-page {
  line-height: var(--line-height-for-readability);
}

/***** The CONTACT PAGE styling. *****/
.my-contact {
  font-size: 1.25rem;
  margin-bottom: 30px;
  transition: transform 0.2s ease-in-out;
}

.my-contact:hover {
  transform: translate(4px, -4px);
}

.my-contact-link {
  text-decoration: none;
}

/***** The PROJECTS PAGE, a collection of projects in a CSS grid. *****/
.my-projects-technologies-tag {
  font-size: 0.9rem;
  font-weight: 500;
  padding: 3px;
  border-width: 2px;
  border-style: solid;
  border-color: #0e0e0e;
  margin-bottom: 5px;
}

.my-projects-card {
  padding-bottom: 0.5rem;
  margin: 16px 0 12px;
  transition: transform 0.2s ease-in-out;
  max-width: 250px;
}

.my-projects-card-title {
  padding-top: 5px;
  font-size: 1.25rem;
  font-weight: 500;
}

.my-projects-card-link {
  text-decoration: none;
}

.my-projects-card-image {
  max-width: 100%;
  margin-bottom: 16px;
}

.my-projects-card:hover {
  transform: translate(6px, -6px)
}

/* CSS Grid for displaying the collection of projects. */
.my-projects {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 20px;
  justify-content: center;
  justify-items: center;
  margin: 0 auto;
}

/* Responsive grid for the collection of projects page. */
@media (min-width: 780px) {
  .my-projects {
    grid-template-columns: repeat(2, 1fr);
    max-width: 720px;
  }
}
@media (min-width: 1120px) {
  .my-projects {
    grid-template-columns: repeat(3, 1fr);
    max-width: 1080px;
  }
}

/***** Individual PROJECT PAGES. *****/
.my-project-hero {
  width: 100%;
}

.my-project-heading {
  font-size: 1.5rem; 
}

/* "View in production" animation */
.my-project-production-tag {
  transition: transform 0.2s ease-in-out;
}

.my-project-production-tag:hover {
  transform: translate(4px, -4px);
}

/* Don't need to pad as width now much greater than
var(--line-height-for-readability) */
@media (min-width: 880px) {
  .my-project, .my-project-content {
    padding: 0;
  }
}