/***** STANDARD. *****/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/***** VARIABLES. *****/
:root {
  --max-width-for-reading-column: 800px;
  /* A common readability setting */
  --line-height-for-readability: 150%;
}

html {
  font-family: "Lato", sans-serif;
}

body {
  margin-top: 20px;
}

/***** NAVBAR. *****/
.my-nav-link-inactive {
  text-decoration: none;
}

.my-nav-link-inactive:hover {
  text-decoration: underline;
}

/* Need to use !important to override w3css colors */
.my-nav-link-active {
  color: white!important;
  text-decoration: none;
}

/***** Making "main" elements FLEXBOX CENTERED containers *****/
.my-main-flex-centering {
  display: flex;
  flex-direction: row;
  justify-content: center; 
  /* Make elements with width defined sit centrally in parent's 
  container. Auto means browser will determine left & right
  margins (and it sets them equal) */
  margin: 0 auto; 
}

/* Flexbox direction to column for proper content on these specific pages. */
.my-main-home-page,
.my-main-error-page,
.my-contact-page {
  flex-direction: column;
  max-width: var(--max-width-for-reading-column);
  padding: 0 15px;
  line-height: var(--line-height-for-readability);
}

/***** The CONTACT PAGE styling. *****/
.my-contact {
  font-size: 1.5rem;
  margin-top: 50px;
  transition: transform 0.2s ease-in-out;
}

.my-contact:hover {
  transform: translate(4px, -4px);
}

.my-contact-link {
  text-decoration: none;
}

/***** The PROJECTS PAGE a collection of projects in a grid. *****/
.my-projects-technologies-tag {
  font-size: 0.9rem;
  font-weight: 500;
  padding: 3px;
  border-width: 2px;
  border-style: solid;
  border-color: #0e0e0e;
  margin-bottom: 5px;
}

.my-projects-card {
  padding-bottom: 0.5rem;
  margin: 16px 0 12px;
  transition: transform 0.2s ease-in-out;
}

.my-projects-card-title {
  padding-top: 5px;
  font-size: 1.25rem;
  font-weight: 500;
}

.my-projects-card-link {
  text-decoration: none;
}

.my-projects-card-image {
  max-width: 100%;
  margin-bottom: 16px;
}

.my-projects-card:hover {
  transform: translate(6px, -6px)
}

/* Grid for displaying all the collection of projects. */
.my-projects {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 20px;
  justify-content: center;
  justify-items: center;
  max-width: 350px;
  margin: 0 auto;
}

/* Responsive grid for the collection of projects page. */
@media (min-width: 780px) {
  .my-projects {
    grid-template-columns: repeat(2, 1fr);
    max-width: 720px;
  }
}
@media (min-width: 1120px) {
  .my-projects {
    grid-template-columns: repeat(3, 1fr);
    max-width: 1080px;
  }
}

/***** Individual PROJECT PAGES. *****/
.my-project {
  font-size: 1.2rem;
  max-width: var(--max-width-for-reading-column);
  padding: 0 16px;
}

.my-project-hero {
  width: 100%;
  max-width: var(--max-width-for-reading-column);
  margin-top: 35px;
  margin-bottom: 25px;
}

.my-project-heading {
  margin: 0;
  font-size: 2rem;
  line-height: var(--line-height-for-readability);
}

.my-project-content {
  margin-bottom: 16px;
  line-height: var(--line-height-for-readability);
}

/* Don't need to pad as width now much greater than
var(--line-height-for-readability) */
@media (min-width: 880px) {
  .my-project, .my-project-content {
    padding: 0;
  }
}

