{% extends "base.html" %}

{% block content %}
<main class="main main--content">

    <dl>
        <div class="contact">
            <dt>Email:</dt>
            <dd class="contact__details">
                <a class="contact__link" href="mailto:j.doe@email.com">
                    jdoe [at] email.com
                </a>
            </dd>
        </div>
        <div class="contact">
            <dt>Bitbucket:</dt>
            <dd class="contact__details">
                <a class="contact__link" href="https://bitbucket.org">
                    @jdoe
                </a>
            </dd>
        </div>
        <div class="contact">
            <dt>Github:</dt>
            <dd class="contact__details">
                <a class="contact__link" href="https://github.com">
                    @jdoe
                </a>
            </dd>
        </div>
    </dl>

</main>
{% endblock %}