{% extends "base.html" %}

<!-- The body for the contact page. -->
{% block content %}
<main class="w3-container w3-margin-bottom">
    <div class="w3-container my-contact-container">
        <i class="fa-solid fa-phone"></i> Mobile:
        <span style="color: gray">+44-77-4067-8243</span>
    </div>
    <div class="w3-container my-contact-container">
        <a href="mailto:contact@sfraser.io" class="my-contact-link"
            ><i class="fa-regular fa-envelope"></i> Email:
            <span style="color: gray">contact@sfraser.io</span></a
        >
    </div>
    <div class="w3-container my-contact-container">
        <a href="https://www.linkedin.com/in/sfraser-dev" class="my-contact-link"
            ><i class="fa-brands fa-linkedin"></i> LinkedIn:
            <span style="color: gray">sfraser-dev</span></a
        >
    </div>
    <div class="w3-container my-contact-container">
        <a href="https://github.com/sfraser-dev" class="my-contact-link"
            ><i class="fa-brands fa-github"></i> GitHub:
            <span style="color: gray">@sfraser-dev</span></a
        >
    </div>
    <div class="w3-container my-contact-container">
        <a
            href="../static/docs/Stewart-Fraser-CV.pdf"
            target="_blank"
            rel="noopener noreferrer"
            class="my-contact-link"
            ><i class="fa-regular fa-file-lines"></i> CV:
            <span style="color: gray">view PDF</span></a
        >
    </div>
</main>
{% endblock %}
