{% extends "base.html" %}

<!-- The body for the about page. -->
{% block content %}
<main class="w3-container my-home-page">
    <div class="w3-margin-left">
        <div class="w3-container">
            <p>
                A portfolio site to showcase web development projects.
            </p>
            <p>
            Site is fully responsive and built with a mobile-first design.
            </p>
            Technologies used to build this site:
            <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>W3.CSS</li>
                <li>Python</li>
                <li>Flask</li>
            </ul>
        </div>
    </div>
</main>
{% endblock %}