{% extends "project-base.html" %}

{% block project_info %}
<p>
Copy the pattern generated. The more you correctly match the pattern, the longer the pattern gets.
</p>
Technologies used:
<div class="w3-tag w3-round w3-white my-projects-technologies-tag">HTML</div>
<div class="w3-tag w3-round w3-white my-projects-technologies-tag">CSS / SASS</div>
<div class="w3-tag w3-round w3-white my-projects-technologies-tag">jQuery</div>
<div class="w3-tag w3-round w3-white my-projects-technologies-tag">JavaScript</div>
{% endblock %}