{% extends "project-base.html" %}

{% block project_info %}
<p>
    A web based drum set played via the mouse or the keyboard.
</p>
<p>
    Mobile-first responsiveness achieved via flexbox and media queries.
</p>
<div class="w3-tag w3-round w3-white my-projects-technologies-tag">HTML</div>
<div class="w3-tag w3-round w3-white my-projects-technologies-tag">CSS</div>
<div class="w3-tag w3-round w3-white my-projects-technologies-tag">SASS</div>
<div class="w3-tag w3-round w3-white my-projects-technologies-tag">JavaScript</div>
{% endblock %}