{% extends "project-base.html" %}

{% block project_written_content %}
<p>
    A simple microblogging site. A post is read by Python / Flask and then saved
    into a MongoDB Cloud Atlas database. Previous posts are read by Python / Flask from the database and are displayed on the page where they can be seen and deleted.
</p>
<div class="my-project-microblog-diagram-wrapper">
    <img class="my-project-microblog-diagram" src="{{ url_for('static', filename='images/microblog.drawio.png') }}"
        alt="setup diagram">
</div>
<p>
Mobile-first responsiveness achieved via W3.CSS and media queries.
</p>
<div class="w3-tag w3-round w3-white my-shared-technologies-tag">HTML</div>
<div class="w3-tag w3-round w3-white my-shared-technologies-tag">CSS</div>
<div class="w3-tag w3-round w3-white my-shared-technologies-tag">W3.CSS</div>
<div class="w3-tag w3-round w3-white my-shared-technologies-tag">Python</div>
<div class="w3-tag w3-round w3-white my-shared-technologies-tag">Flask</div>
<div class="w3-tag w3-round w3-white my-shared-technologies-tag">MongoDB</div>
{% endblock %}